
.container
  .row
    .small-12.medium-8.large-8.column
      %h1 Latest collections
      .subheader
        To report missed bins for this week, select at least one then enter your details and click the
        %strong Report missed bin
        button to send your report to us
  .row
    .small-12.medium-7.large-8.column
      / Green wheelie bin
      .panel.panel-outer
        .panel-heading
          .row
            .small-2.large-1.column.container-thumbnail
              .text-center
                =image_tag("wrap_wheeliebin_green_rc019_60px.png")
            .small-10.large-11.column
              %h2.panel-title Green wheelie bin
              %span.label.large.round.label-stream-mixed Mixed recycling
        .panel-body
          .row
            .small-12.column
              .alert-box.alert
                .row
                  .small-2.medium-2.large-1.column.icon.icon-alert
                    =image_tag("waste-icon-alert.svg")
                  .small-6.medium-8.large-7.column
                    .inline-block Not collected:
                    .inline-block 30 November
                  .small-4.medium-4.large-3.column
                    %form.right{:action => ""}
                      %label.checkbox-wrapper.round.select-report{:for => "no-click-me"}
                        %input#no-click-me{:name => "gwb-appeal", :type => "checkbox"}/
                        Appeal
              .row
                .small-12.column Sorry we didn't empty your bins – they were too full, so the lid wouldn't close properly.
                .small-12.column.end.report-image
                  =image_tag("bins_too_full.jpg")
                .small-12.column
                  %a{:href => "#{}"} Find out how to avoid overfilling your bins
          .row
            .small-12.column
              %strong
                .inline-block
                  Your next Green Box collection:
                .inline-block
                  %a{:href => "#{}"} 07 December

      / Brown food caddy
      .panel.panel-outer
        .panel-heading
          .row
            .small-2.large-1.column.container-thumbnail
              .text-center
                =image_tag("wrap_kitchencaddy_brown_60px.png")
            .small-10.large-11.column
              %h2.panel-title Brown food caddy
              %span.label.large.round.label-stream-food Food waste
        .panel-body
          .row
            .small-12.column
              .alert-box.info
                .row
                  .small-2.medium-1.column.icon.icon-success
                    =image_tag("waste-icon-success.svg")
                  .small-6.medium-7.column
                    .inline-block Last collected:
                    .inline-block 30 November
                  .small-4.column
                    %form.right{:action => ""}
                      %label.checkbox-wrapper.round.select-report{:for => "no-click-me"}
                        %input#no-click-me{:name => "bfc-report", :type => "checkbox"}/
                        Report
          .row
            .small-12.column
              %strong
                .inline-block
                  Your next Brown Caddy collection:
                .inline-block
                  %a{:href => "#{}"}07 December
    .small-12.medium-5.large-4.column
      .panel.panel-alert
        .panel-heading
          %h3 Enter your details
        .panel-body
          Please provide your contact details so that we can get in touch with you to resolve this issue
          %form{:action => "", :method => "post"}
            %label{:for => "POST-name"} Name:
            %input#POST-name{:name => "Name", :type => "text", :placeholder => "Your full name"}/
            %label{:for => "POST-name"} Email:
            %input#POST-name{:name => "Email", :type => "email", :placeholder => "Your email address"}/
            %label{:for => "POST-name"} Telephone:
            %input#POST-name{:name => "Telephone", :type => "text", :placeholder => "Your telephone number"}/
            %input.button.primary.round.small{:type => "submit", :value => "Report missed bin >"}/

  %hr/
  .row
    .small-12.medium-8.large-8.column
      %h1 Upcoming collections
      .subheader Normal services at
      %strong 12 Folkton Road, F01 1LK
  .row
    .small-12.medium-7.large-8.column
      .panel.panel-outer
        %h2 General recycling & Household waste collection
        .panel-heading
          .row
            .small-12.column
              .inline-block Next collection in 7 days
              .inline-block (Wednesday 27 December)
        .panel-body
          %dl.accordion{"data-accordion" => ""}
            %dd.accordion-navigation
              %a{:href => "#panel1b"}
                .row
                  .small-2.large-1.column.container-thumbnail
                    .text-center
                      =image_tag("wrap_wheeliebin_green_rc019_60px.png")
                  .small-10.large-11.column
                    %h3.panel-title Green wheelie bin
                    %span.label.large.round.label-stream-mixed Mixed recycling
              #panel1b.content
                %p Side waste bags or sacks are ordinary bags or sacks which you can fill with electronic or electrical waste. They can then be left out next to your normal bins.
                %p We collect side waste bags and sacks every two weeks except on bank holidays and other public holidays.
                %ul
                  %li X Telecoms & computers - Fax & CPU
                  %li X Batteries
                  %li X Small appliances - Radios
                  %li X Small appliances - Hair dryers
                  %li X Small appliances - Mixed
                  %li X Large appliances - Washing machines
                  %li X Flourescent tubes
                  %li X Low energy bulbs
                  %li X Mixed light bulbs
                  %li X Mobile phones
                  %li X Printer cartridges
                  %li X TV & monitors
                  %li X Large appliances - Mixed
                  %li X Small appliances - Irons
                  %li X Fridges & Freezers
                  %li X Telecoms & computers - Phone & Mouse

          %dl.accordion{"data-accordion" => ""}
            %dd.accordion-navigation
              %a{:href => "#panel2b"}
                .row
                  .small-2.large-1.column.container-thumbnail
                    .text-center
                      =image_tag("wrap_sack_clear_rc008_60px.png")
                  .small-10.large-11.column
                    %h3.panel-title Side waste bags
                    %span.label.large.round.label-stream-electric Electronics & Electrical
              #panel2b.content
                %p Side waste bags or sacks are ordinary bags or sacks which you can fill with electronic or electrical waste. They can then be left out next to your normal bins.
                %p We collect side waste bags and sacks every two weeks except on bank holidays and other public holidays.
                %ul
                  %li X Telecoms & computers - Fax & CPU
                  %li X Batteries
                  %li X Small appliances - Radios
                  %li X Small appliances - Hair dryers
                  %li X Small appliances - Mixed
                  %li X Large appliances - Washing machines
                  %li X Flourescent tubes
                  %li X Low energy bulbs
                  %li X Mixed light bulbs
                  %li X Mobile phones
                  %li X Printer cartridges
                  %li X TV & monitors
                  %li X Large appliances - Mixed
                  %li X Small appliances - Irons
                  %li X Fridges & Freezers
                  %li X Telecoms & computers - Phone & Mouse
          %dl.accordion{"data-accordion" => ""}
            %dd.accordion-navigation
              %a{:href => "#panel3b"}
                .row
                  .small-2.large-1.column.container-thumbnail
                    .text-center
                      =image_tag("wrap_wheeliebin_grey_rc021_60px.png")
                  .small-10.large-11.column
                    %h3.panel-title Black bin
                    %span.label.large.round.label-stream-household Household waste

              #panel3b.content
                %p Side waste bags or sacks are ordinary bags or sacks which you can fill with electronic or electrical waste. They can then be left out next to your normal bins.
                %h3 We will take
                %ul
                  %li X Telecoms & computers - Fax & CPU
                  %li X Batteries
                  %li X Small appliances - Radios
                  %li X Small appliances - Hair dryers
                  %li X Small appliances - Mixed
                  %li X Large appliances - Washing machines
                  %li X Flourescent tubes
                  %li X Low energy bulbs
                  %li X Mixed light bulbs
                  %li X Mobile phones
                  %li X Printer cartridges
                %h3 We won't take
                %ul
                  %li X TV & monitors
                  %li X Large appliances - Mixed
                  %li X Small appliances - Irons
                  %li X Fridges & Freezers
                  %li X Telecoms & computers - Phone & Mouse
                %p We collect side waste bags and sacks every two weeks except on bank holidays and other public holidays.

      .panel.panel-outer
        %h2 Food & Textiles collection
        .panel-heading
          Next collection in 14 days (Wednesday 3 January)
        .panel-body
          %dl.accordion{"data-accordion" => ""}
            %dd.accordion-navigation
              %a{:href => "#panel4b"}
                .row
                  .small-2.large-1.column.container-thumbnail
                    .text-center
                      =image_tag("wrap_kitchencaddy_brown_60px.png")
                  .small-10.large-11.column
                    %h3.panel-title Brown caddy
                    %span.label.large.round.label-stream-food Food waste

              #panel4b.content
                %p Side waste bags or sacks are ordinary bags or sacks which you can fill with electronic or electrical waste. They can then be left out next to your normal bins.
                %p We collect side waste bags and sacks every two weeks except on bank holidays and other public holidays.
                %ul
                  %li X Telecoms & computers - Fax & CPU
                  %li X Batteries
                  %li X Small appliances - Radios
                  %li X Small appliances - Hair dryers
                  %li X Small appliances - Mixed
                  %li X Large appliances - Washing machines
                  %li X Flourescent tubes
                  %li X Low energy bulbs
                  %li X Mixed light bulbs
                  %li X Mobile phones
                  %li X Printer cartridges
                  %li X TV & monitors
                  %li X Large appliances - Mixed
                  %li X Small appliances - Irons
                  %li X Fridges & Freezers
                  %li X Telecoms & computers - Phone & Mouse
          %dl.accordion{"data-accordion" => ""}
            %dd.accordion-navigation
              %a{:href => "#panel5b"}
                .row
                  .small-2.large-1.column.container-thumbnail
                    .text-center
                      =image_tag("wrap_kitchencaddy_brown_60px.png")
                  .small-10.large-11.column
                    %h3.panel-title Side waste bags
                    %span.label.large.round.label-stream-textile Mixed textiles & clothes

              #panel5b.content
                %p Side waste bags or sacks are ordinary bags or sacks which you can fill with electronic or electrical waste. They can then be left out next to your normal bins.
                %h3 We will take
                %ul
                  %li X Telecoms & computers - Fax & CPU
                  %li X Batteries
                  %li X Small appliances - Radios
                  %li X Small appliances - Hair dryers
                  %li X Small appliances - Mixed
                  %li X Large appliances - Washing machines
                  %li X Flourescent tubes
                  %li X Low energy bulbs
                  %li X Mixed light bulbs
                  %li X Mobile phones
                  %li X Printer cartridges
                %h3 We won't take
                %ul
                  %li X TV & monitors
                  %li X Large appliances - Mixed
                  %li X Small appliances - Irons
                  %li X Fridges & Freezers
                  %li X Telecoms & computers - Phone & Mouse
                %p We collect side waste bags and sacks every two weeks except on bank holidays and other public holidays.
    .small-12.medium-5.large-4.column
      .panel.panel-alert
        .panel-heading
          %h3 Keep up to date
        .panel-body
          Enter your email address to be sent alerts whenever your collection is rescheduled
          %form{:action => "", :method => "post"}
            %label{:for => "POST-name"} Email:
            %input#POST-name{:name => "Email", :type => "email", :placeholder => "Your email address"}/
            %input.round.small{:type => "submit", :value => "Submit"}/

  %hr/
  .row
    .small-12.column
      Next guide






