
.container
  %h1 Styleguide
  %h2 Latest collections

  %p Did we miss your bins? Check for issues we already know about or add a new issue.

  %p Please select the containers that have not been collected. Make sure to review any reported issues with the collection before submitting a report.
  .panel.panel-info
    .panel-heading
      %h2.panel-title Panel title: Testing testing 123
    .panel-body
      %h3.panel-info Panel testing
      %button.btn.button-alert.small.radius Help
