<div class="container">
  <h1>Styleguide</h1>
  <h2>Latest collections</h2>
  <p>Did we miss your bins? Check for issues we already know about or add a new issue.</p>
  <p>Please select the containers that have not been collected. Make sure to review any reported issues with the collection before submitting a report.</p>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h2 class="panel-title">Panel title: Testing testing 123</h2>
    </div>
    <div class="panel-body">
      <h3 class="panel-info">Panel testing</h3>
      <button class="btn button-alert small radius">Help</button>
    </div>
  </div>
</div>
