
// WRAP waste material streams colour standards
$colour-paper: #0089d1;
$colour-metal: #54656f;
$colour-glass: #00a9a4;
$colour-glass-clear: #ffffff; // Use for background-color
$colour-glass-clear-border: #00a9a4; // Use for border
$colour-glass-brown: #b7886e;
$colour-glass-green: #5bc4b6;
$colour-glass-blue: #74beeb;
$colour-plastic: #ee3f22;
$colour-textile: #fd8812;
$colour-food: #18b26a;
$colour-garden: #18b26a;
$colour-electric: #ed008c;
$colour-mixed: #8dc63f;
$colour-building: #985d35;
$colour-automotive: #000000;
$colour-other: #f78f1e;
$colour-household: #ffffff; // Use for background
$colour-household-border: #000000; // Use for border & label text
