
// Tighten up letter spacing on all headings
h1 {
  letter-spacing: -0.06em;
}

h2 {
  letter-spacing: -0.05em;
}

h3 {
  letter-spacing: -0.04em;
}

h4 {
  letter-spacing: -0.03em;
}

h5 {
  letter-spacing: -0.02em;
}

h6 {
  letter-spacing: -0.01em;
}

// Wrap short snippets on narrow views
.inline-block {
  display: inline-block;
}
