
.select-report
  input[type="checkbox"] {
    margin: 0;
  }

input[type="submit"] {
  @extend button;
}
.checkbox-wrapper {
  background-color: transparentize($white, 0.25);
  border-radius: $global-rounded;
  padding: 2px 8px;
  border: solid 1px $white;

}
