
// Replaced Rails "require" statements with import statements
@import "scaffolds";
@import "foundation_and_overrides";
@import "services";
@import "containers";
@import "missed_bin";
@import "base/typography";
@import "theme/materials";
@import "theme/spacing";
@import "modules/forms";
@import "modules/icons";
@import "modules/images";
@import "modules/labels";
@import "modules/panels";

// Import Google Font - Open Sans
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,800,800italic);

.input-lg {
  font-size: 60px;
  padding: 20px;
  height: auto;
  line-height: normal;
}

a.btn:visited {
  color: #fff;
}
a.btn.btn-default:visited {
  color: #000;
}


.navbar-brand {
  font-size: 24px;
}

.panel-services {
  width: 31%;
  display: inline-block;
  margin-right: 10px;
}
